{{ 'account-information.css' | asset_url | stylesheet_tag }}
<script src="{{ 'account-information.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign name = 'customer.information.name' | t
  assign placeholder_phone = 'customer.information.pl_name' | t
  assign email = 'customer.information.email' | t
  assign placeholder_phone = 'customer.information.pl_email' | t
  assign date_of_birth = 'customer.information.date_of_birth' | t
  assign phone = 'customer.information.phone' | t
  assign placeholder_phone = 'customer.information.placeholder_phone' | t
  assign heading_account_password = 'customer.reset_password.heading' | t
  assign label_current_password = 'customer.reset_password.current_password' | t
  assign placehordel_current_password = 'customer.reset_password.sub_current_password' | t
  assign label_new_password = 'customer.reset_password.new_password' | t
  assign placehordel_new_password = 'customer.reset_password.subtext' | t
  assign label_confirm_password = 'customer.reset_password.confirm_password' | t
  assign placehordel_confirm_password = 'customer.reset_password.sub_confirm_password' | t
-%}

<account-information>
  <div class="account-infor">
    <h3 class="account-infor__title">{{- 'customer.information.title' | t -}}</h3>
    <div class="account-info__wrapper">
      <form id="customer_update" action="">
        <div class="form_inner">
          <div class="account-info__inner">
            {%- render 'text-input',
              type: 'text'
              id: 'customer_name',
              name: 'customer[name]',
              value: customer.name,
              label: name,
              placeholder: name,
              required: true,
              class: 'account-info__haft'
            -%}
            {%- render 'text-input',
              type: 'email'
              id: 'customer_email',
              name: 'customer[email]',
              value: customer.email,
              label: email,
              placeholder: email,
              required: true,
              disabled: true,
              class: 'account-info__haft text-input--disabled'
            -%}
          </div>
          <div class="account-info__inner mt-10">
            {%- assign _now = "now" | date: "%Y-%m-%d" -%}
            {%- render 'text-input',
              id: 'customer_birthday',
              type: 'date'
              name: 'customer[note][birthday]',
              value: _now,
              label: date_of_birth,
              placeholder: date_of_birth,
              required: true,
              class: 'account-info__haft'
            -%}
            {%- render 'text-input',
              id: 'customer_phone',
              name: 'customer[phone]',
              type: 'tel',
              value: customer.phone,
              label: phone,
              placeholder: placeholder_phone,
              required: true,
              class: 'account-info__haft'
            -%}
          </div>
        </div>
        <button type="submit" disabled class="mt-10 account-info__submit">{{- 'customer.information.button_save_change' | t -}}</button>
      </form>
    </div>
  </div>
</account-information>