{{ 'account-header.css' | asset_url | stylesheet_tag }}

<div class="account-header">
  <div class="page-width-desktop">
    <div class="account-header__title">
      {{- 'customer.account.greeting' | t: name: customer.name -}}
    </div>
    {%- if sub_greeting != blank -%}
      <div class="account-header__subtitle">
        {{- sub_greeting -}}
      </div>
    {%- endif -%}
  </div>
</div>