{{ 'account-information.css' | asset_url | stylesheet_tag }}
<script src="{{ 'account-information.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign name = 'customer.information.name' | t
  assign placeholder_phone = 'customer.information.pl_name' | t
  assign email = 'customer.information.email' | t
  assign placeholder_phone = 'customer.information.pl_email' | t
  assign phone = 'customer.information.phone' | t
  assign placeholder_phone = 'customer.information.placeholder_phone' | t
  assign first_name = 'customer.information.first_name' | t
  assign placeholder_first_name = 'customer.information.pl_first_name' | t
  assign last_name = 'customer.information.last_name' | t
  assign placeholder_last_name = 'customer.information.pl_last_name' | t
-%}

<account-information>
  <div class="account-infor">
    <h3 class="account-infor__title">{{- 'customer.information.title' | t -}}</h3>
    <div class="account-info__wrapper">
      <form id="customer_update" action="">
        <div class="form_inner">
          <div class="account-info__inner">
            {%- render 'text-input',
              type: 'text'
              id: 'customer_first_name',
              name: 'customer[firstName]',
              value: customer.first_name,
              label: first_name,
              placeholder: placeholder_first_name,
              required: true,
              class: 'account-info__haft'
            -%}
            {%- render 'text-input',
              type: 'text'
              id: 'customer_last_name',
              name: 'customer[lastName]',
              value: customer.last_name,
              label: last_name,
              placeholder: placeholder_last_name,
              required: true,
              class: 'account-info__haft'
            -%}
          </div>
          <div class="account-info__inner mt-10">
            {%- render 'text-input',
              type: 'email'
              id: 'customer_email',
              name: 'customer[email]',
              value: customer.email,
              label: email,
              placeholder: email,
              required: true,
              disabled: true,
              class: 'account-info__haft text-input--disabled'
            -%}
            {%- render 'text-input',
              id: 'customer_phone',
              name: 'customer[phone]',
              type: 'tel',
              value: customer.phone,
              label: phone,
              placeholder: placeholder_phone,
              required: true,
              class: 'account-info__haft'
            -%}
          </div>
        </div>
        <button type="submit" disabled class="mt-10 account-info__submit">
          {{- 'customer.information.button_save_change' | t -}}
          <span class="load-more_spinner"></span>
        </button>
      </form>
    </div>
  </div>
</account-information>
