<div class="card__badge">
  {%- liquid 
    assign product_created_at = product.created_at | date: '%s'
    assign percent = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | floor
    assign title_lists = false
    for mod_product in settings.best_sellers_collection.products limit: 40
      if product == mod_product
        assign title_lists = true
        break
      endif
    endfor

    assign title_check = false
    for mod_product in settings.new_arrivals_collection.products limit: 40
      if product contains mod_product
        assign title_check = true
        break
      endif
    endfor
    if product.available == false
      echo 'products.product.sold_out' | t | prepend: '<span class="badge sold-out">' | append: '</span>'
    elsif title_lists == true
      echo '<span class="badge best_seller">'
      render 'icon-fire'
      echo '<span class="sale-sub">'
        echo 'products.product.best_seller' | t 
      echo '</span>'
    echo '</span>'
    elsif title_check == true
      echo '<span class="badge new">'
        render 'icon-new'
        echo'<span class="badge new">'
        echo 'products.product.new' | t
        echo'</span>'
      echo '</span>'
    elsif product.compare_at_price > product.price and product.available and percent >= 20 and page.template_suffix != 'product'
      echo '<span class="badge sale">'
        render 'icon-sale'
        echo'<span class="badge sale">'
        echo percent
        echo '% OFF'
        echo'</span>'
      echo '</span>'
    endif
  -%}
</div>