{{ 'account-details.css' | asset_url | stylesheet_tag }}

{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign page_url = contentForQuerystring
  | split: '"pageurl":"'
  | last
  | split: '"'
  | first
  | split: '.myshopify.com'
  | last
  | replace: '\/', '/'
  | replace: '%20', ' '
  | replace: '\u0026', '&'
-%}
{%- assign page_url = page_url | remove: '?_fd=0&pb=0' | remove: '&_fd=0&pb=0' -%}

{%- render 'account-header' -%}
<div class="account-detail">
  <div class="page-width-desktop">
    <div class="account-detail__wrapper">
      <div class="account-detail__sidebar js-sidebar-sticky sidebar-sticky-hidden">
        {%- render 'account-sidebar', account_sidebar: section.settings.account_sidebar, page_url: page_url -%}
      </div>
      <div class="account-detail__content">
        {%- case page_url -%}
          {%- when '/account' -%}
            {%- render 'account-information' -%}
          {%- when '/account/addresses' -%}
            {%- render 'account-address' -%}
        {%- endcase -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.account-details.name",
  "settings": [
    {
      "type": "link_list",
      "id": "account_sidebar",
      "label": "t:sections.account-details.account_sidebar"
    }
  ]
}
{% endschema %}