{{ 'account-details.css' | asset_url | stylesheet_tag }}

{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign page_url = contentForQuerystring
  | split: '"pageurl":"'
  | last
  | split: '"'
  | first
  | split: '.myshopify.com'
  | last
  | replace: '\/', '/'
  | replace: '%20', ' '
  | replace: '\u0026', '&'
-%}
{%- assign page_url = page_url | remove: '?_fd=0&pb=0' | remove: '&_fd=0&pb=0' | split: '/' | last | prepend: '/' -%}
{%- render 'account-header' -%}
<div class="account-detail">
  <div class="page-width-desktop">
    <div class="account-detail__wrapper">
      <div class="account-detail__sidebar js-sidebar-sticky sidebar-sticky-hidden">
        {%- render 'account-sidebar', account_sidebar: section.settings.account_sidebar, page_url: page_url -%}
      </div>
      <div class="account-detail__content">
        {%- case page_url -%}
          {%- when '/account' -%}
            {%- render 'account-information' -%}
          {%- when '/addresses' -%}
            {%- render 'account-address' -%}
        {%- endcase -%}
        {%- if page_url contains 'view=orders' -%}
          {%- render 'account-orders'
            limit: section.settings.order_limit,
            link: section.settings.order_support_url
          -%}
        {%- endif -%}
        {%- if page_url contains 'view=favourites' -%}
          {%- render 'app_wishlist-king' -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.account-details.name",
  "settings": [
    {
      "type": "link_list",
      "id": "account_sidebar",
      "label": "t:sections.account-details.account_sidebar"
    },
    {
      "type": "header",
      "content": "t:sections.account-details.account_sidebar"
    },
    {
      "type": "range",
      "id": "order_limit",
      "label": "t:sections.account-details.order_limit",
      "min": 2,
      "max": 30,
      "step": 2,
      "default": 10
    },
    {
      "type": "url",
      "id": "order_support_url",
      "label": "t:sections.account-details.order_support_url"
    }
  ]
}
{% endschema %}