<div class="reviews-collection-product">
  <div class="page-width-desktop">
    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
  </div>
</div>