<div class="size-pop">
  {% render 'size-guide' %}
</div>

{% schema %}
  {
    "name": "Size-guide",
    "tag": "section",
    "class": "Size-guide",
    "settings": [],
    "presets": [
      {
        "name": "Size-guide"
      }
    ]
  }
{% endschema %}