.account-detail {
  padding: 0 0 64px;
}

.account-detail__wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.account-detail__sidebar {
  position: static;
  width: 190px;
}

.account-detail__content {
  width: calc(100% - 190px);
  padding: 0 40px;
}

@media screen and (max-width: 1023px) {
  .account-detail {
    background: #FAFAFA;
    padding: 0 0 20px;
  }

  .account-detail__sidebar {
    position: sticky;
    top: 54px;
    z-index: 30;
    width: 100%;
    transition: top 0.3s ease-in-out;
    padding-top: 20px;
  }

  .account-detail__sidebar.sidebar-sticky-hidden {
    top: -100%;
  }

.account-detail__wrapper {
    flex-direction: column;
  }

  .account-detail__content {
    width: 100%;
    padding: 0;
  }

  .account-detail__wrapper {
    gap: 20px;
  }

  .overlay-sidebar {
    position: fixed;
    top: auto;
    left: 0;
    z-index: 1;
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

  .overlay-sidebar.active {
    display: block;
  }
}