.account-detail {
  padding: 64px 0;
}

.account-detail__wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.account-detail__sidebar {
  position: static;
  width: 190px;
}

.account-detail__content {
  flex: 1 0 auto;
  padding: 0 40px;
}

@media screen and (max-width: 1024px) {
  .account-detail {
    background: #FAFAFA;
    padding: 0;
  }

  .account-detail__sidebar {
    position: sticky;
    top: 54px;
    z-index: 30;
    width: 100%;
    transition: top 0.3s ease-in-out;
  }

  .account-detail__sidebar.sidebar-sticky-hidden {
    top: -100%;
  }

  .account-detail__wrapper {
    display: flex;
    flex-direction: column;
  }

  .account-detail__content {
    padding: 0;
  }
}