.breadcrumbs-section .breadcrumb {
    padding-left: 0;
    display: flex;
    align-items: center;
    margin: 0;
}
.breadcrumbs-section .breadcrumb li{
    margin-right: 13px;
    display: flex;
    align-items: center;
}
.breadcrumbs-section .breadcrumb li a{
    font-size: 14px;
    line-height: 140%;
    font-family: var(--font-body-family);
    padding: 0 15px 0 0;
    margin: 0;
    letter-spacing: 0;  
    font-weight: 300;
}

.breadcrumbs-section .breadcrumb li a {
    color: #808080;
}

.breadcrumbs-section .breadcrumb li span{
    font-size: 14px;
    line-height: 140%;
    font-family: var(--font-body-family);
    margin: 0;
    font-weight: 400;
    letter-spacing: 0;
}
.breadcrumbs-section.hidden-mb{
    display: none;
}
@media (min-width:1025px) {
    .breadcrumbs-section.hidden-mb{
        display: block;
    }
    
}