.section-header.ohio{
    position: sticky;
    top: 0;
    width: 100%;
    background: #fff;
    transition: top .3s ease-in-out;
}
#recently-viewed-products {
    padding-top: 0;
}
@media (min-width:1025px) {
    .section-header.shopify-section-header-hidden.ohio{
        top: -100%;
    }
}