.pagination-desktop{
  display: none;
}
.pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-mobile .pagination__list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.pagination-mobile .pagination__list li{ 
  width: 24px;
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pagination-mobile .pagination__list li a{ 
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #808080;
  font-family: var(--font-monte-family);
  text-transform: uppercase;
}
.pagination-mobile .pagination__list li.actived a{
  color: #333333;
  opacity: 1;
}
.pagination-mobile .pagination__list li.actived::after{
  content: '';
  width: 100%;
  height: 2px;
  background: #333333;
  position: absolute;
  bottom: -10px;
}
.pa-select-list li a,
.pa-select-list li span  {
  display: block;
  padding: 10px;
}
@media (max-width:767px){
  .recently-viewed-products-wrapper .pagination-wrapper {
    display: none;
  }
}
@media (max-width:325px){
  .pagination-mobile .pagination__list{
    gap: 8px;
  }
}
@media (min-width:1025px) {
  .filter-top-mobile {
    display: none;
  }
  .pagination-wrapper {
    display: inherit;
  }
  .pagination-mobile{
    display: none;
  }
  .pagination-desktop{
    display: block;
  }
  .pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .pagination_center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .pagination_center p{
    font-size: 16px;
    line-height: 160%;
    font-family: var(--font-body-family);
    color: #000000;
    letter-spacing: 0;
    margin: 0;
    font-weight: 300;
  }
  
  .pagination .btn-arrow a{
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    font-family: var(--font-heading-family);
    letter-spacing: 0;
    padding: 8px 16px;
    border-radius: 100px;
  }
  .pagination .btn-arrow a:hover{
    background: rgba(0, 0, 0, 0.1);
  }
  #pagination {
    border: none;
    font-size: 16px;
    line-height: 160%;
    font-family: var(--font-body-family);
    color: #000000;
    font-weight: 600;
    z-index: 99;
    text-align: center;
    right: 8px;
    position: absolute;
    top: 100%;
    background: #fff;
  }
  .pagination .w-33 {
    width: 33%;
    display: block!important;
  }
  .pagination .w-33:last-child {
    text-align: right;
  }
  .pagination .w-33:first-child {
    text-align: left;
  }
  #pagination::-webkit-scrollbar {
    width: 5px;
    background-color: #f2f2f2;
  } 
  #pagination::-webkit-scrollbar-thumb {
    background-color: #808080
  }
  #pagination::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  .pa-custom-select {
    height: 40px;
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 8px;
  }

  .pa-selected{
    width: inherit;
    cursor: pointer;
    line-height: 20px;
    display: flex;
    align-items: center;
  }

  .pa-selected > .text{
    padding: 0 8px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
    font-family: var(--font-body-family);
  }
  .collection-wrapper .pagination_center {
    margin-left: 32px;
    gap: 8px;
  }
  .pa-select-box{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.5s;
    width: 100%;
    z-index: 10029;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #00000059;
  }

  .pa-select-box.active{
    opacity: 1;
      visibility: visible;
      transform: translateY(0px);
  }

  .pa-select-box.drop-up{
    top: auto;
    bottom: 100%;
  }

  .pa-select-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 299px;
    height: auto;
    overflow-y: auto;
    width: 60px;
    border: 1px solid var(--color-borders);
    border-bottom: 0;
    background-color: #fff;
  }
  .pa-select-list::-webkit-scrollbar {
    width: 0;
  }
  .pa-select-list li{
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0;
    border-bottom: 0.5px solid #ddd;
  }
  .pa-select-list li a {
    font-weight: 400;
  }

  .pa-select-list li:hover,.pa-select-list li.active{
    background-color: #999999;
  }

}