.wk-page {
  padding-bottom: 96px;
}

.wk-note__login {
  max-width: 590px;
  margin: 0 auto;
  margin-top: 48px;
}

.wk-grid {
  padding: 0;
  margin-top: 48px;
  gap: 20px 10px;
}

.wk-product-info {
  margin-top: 0;
}

.wk-product-vendor {
  font-size: 12px;
  line-height: 160%;
  text-transform: uppercase;
  color: #808080;
}

@media screen and (max-width: 768px) {
  .wk-grid {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.wk-note__login .wk-title {
  text-transform: uppercase;
  color: #333;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
}

.wk-note__login .wk-subtitle {
  font-size: 16px;
  line-height: 160%;
  font-weight: 300;
  color: #333;
  margin: 0;
}

.wk-login__cta {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 48px;
}

.wk-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none !important;
  text-transform: capitalize;
  padding: 0 24px;
  height: 52px;
  min-width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 1px solid #000;
  font-family: var(--font-heading-family);
  transition: all .3s;
  width: fit-content;
}

.wk-button svg {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .wk-login__cta {
    margin-top: 24px;
  }

  .wk-button {
    min-width: 160px;
    height: 39px;
    font-size: 12px;
    line-height: 15px;
  }

  .wk-note__login .wk-title {
    font-size: 18px;
    line-height: 120%;
  }

  .wk-note__login .wk-subtitle {
    font-size: 14px;
    line-height: 140%;
  }

  .wk-page {
    padding-bottom: 48px;
  }
}

.wk-button:hover {
  color: #fff;
  background-color: #000;
}

.wk-button--secondary {
  color: #fff;
  background-color: #000;
}

.wk-button--secondary:hover {
  background-color: #fff;
  color: #000;
}

.wk-page:not(.wk-page--shared) .wk-button.wk-button--floating {
  top: 24px !important;
  right: 24px !important;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 9999px;
}

.wk-button-wishlist-clear {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  gap: 8px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 48px;
  cursor: pointer;
}

.wk-note.wk-note__list-empty {
  width: 100%;
  background:#FAFAFA;
  padding: 72px 0;
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wk-empty__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-top: 32px;
  margin-bottom: 16px;
}

.wk-empty__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
  max-width: 390px;
  margin: 0 auto;
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  .wk-empty__title {
    font-size: 18px;
    line-height: 120%;
  }

  .wk-empty__subtitle {
    font-size: 14px;
    line-height: 140%;
  }
}

.clear-wishlist-popup-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-wishlist-popup-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.clear-wishlist-popup-modal__content {
  background-color: #fff;
  padding: 46px 24px;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  border-radius: 2px;
  max-width: 343px;
}

.clear-wishlist-popup-modal__content-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clear-wishlist__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  text-align: center;
  text-transform: uppercase;
}

.clear-wishlist__subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #808080;
  margin: 0;
  margin-bottom: 24px;
}

.clear-wishlist-popup-modal__content-info .wk-button {
  max-height: 39px;
  width: 100%;
}

.clear-wishlist-popup-modal__content-info .wk-button:last-child {
  margin-top: 8px;
}

.wk-product-price--current {
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
  color: #000;
}

.wk-product-price--compare {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: line-through;
  color: #B3B3B3;
  display: inline-block;
  margin-left: 8px;
}
