.breadcrumbs-section {
  margin-top: 64px;
}

.search-help {
  margin-top: 32px;
  padding-bottom: 64px;
}
.search-help .search-modal__form input {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  border-radius: 0;
  padding: 16px;
  font-family: var(--font-body-family);
  background: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  max-height: 58px;
}
.search-help .search-modal__form input::-webkit-input-placeholder {
  /* Edge */
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  font-family: var(--font-body-family);
  letter-spacing: -0.1px;
}

.search-help .search-modal__form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  font-family: var(--font-body-family);
}

.search-help .search-modal__form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  font-family: var(--font-body-family);
}
.search-help .search-modal__form .icon-search-wrapper {
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: auto;
  width: 24px;
  height: 24px;
}
.search-help .search-modal__form .icon-search-wrapper svg path {
  fill: #0000008a;
}

.search-help__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-help__title {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
}

.search-help__header--right {
  width: 100%;
  max-width: 490px;
}

.search-help__count {
  margin: 0;
  margin-top: 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.search-help__result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;

  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.search-help__result:not(:last-child) {
  margin-bottom: 16px;
}

.search-help__result-title {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.search-help__result-date-post {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #808080;
  vertical-align: middle;
  gap: 8px;
  margin-top: 8px;
}

.search-help__result-date-post svg {
  width: 20px;
  height: 20px;
}

.search-help__result-accordion {
  width: 100%;
}

.search-help__result-header {
  width: 100%;
  display: block;
  position: relative;
  padding: 0;
  cursor: pointer;
}

.search-help__result-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.search-help__result-header-inner button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  width: 32px;
  height: 32px;
  position: relative;
}

.search-help__result-header-inner svg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.search-help__result-accordion:not([open="true"]) button svg:first-child {
  opacity: 0;
}

.search-help__result-accordion[open="true"] button svg:last-child {
  opacity: 0;
}

.accordion-content {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  margin-top: 16px;
}

.search-help__result-content {
  color: #333333;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  max-width: 100%;
}

.search-help__result-content p {
  margin: 0;
}

.search-help__result-extend {
  margin-top: 28px;
}

.search-help__result-extend a {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #000000;
  text-underline-offset: auto;
  font-family: var(--font-heading-family);
}

.search-help__notfound-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
}

.search-help__notfound-main-header {
  max-width: 790px;
  margin: 0 auto;
}

.search-help__notfound-subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-top: 16px;
}

.search-help__notfound-main {
  margin-top: 32px;
}

.search-help__suggestion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin-top: 48px;
}

.search-help__suggestion-item {
  display: inline-block;
  padding: 32px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 160%;
  color: #808080;
  transition: all 0.3s ease;
}

.search-help__suggestion-item:hover {
  background-color: #000000;
  color: #fff;
}

.search-help__notfound {
  margin-top: 32px;
}

.search-help__results {
  margin-top: 32px;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .search-help__header {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .search-help__title {
    display: none;
  }

  .search-help__result-title {
    font-size: 16px;
    line-height: 120%;
  }

  .search-help__result-date-post {
    font-size: 10px;
    line-height: 140%;
  }

  .search-help__result-content {
    font-size: 14px;
    line-height: 20px;
  }

  .search-help__suggestion {
    margin-top: 32px;
  }

  .search-help {
    margin-top: 48px;
    padding-bottom: 48px;
  }
}

.content-social-bot ul li a svg,
.content-social-bot ul li a svg rect,
.content-social-bot ul li.mailto-item a svg path,
.content-social-bot ul li.twitter-item a svg path {
  fill: #fff;
}

.content-social-bot ul li a svg path,
.content-social-bot ul li.twitter-item a svg rect,
.content-social-bot ul li.mailto-item a svg rect {
  fill: #000;
}
.list-social {
  padding: 0;
  margin-top: 1px;
}
.content-social-bot ul {
  justify-content: flex-start;
  gap: 16px;
}

.content-social-bot ul li a {
  padding: 0;
}
.content-social-bot ul li:hover a svg {
  fill: #6e6e6e;
}
.content-social-bot .social-title {
  font-family: var(--font-heading-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  margin: 0 0 8px;
  color: #333333;
  padding: 0;
  text-transform: inherit;
  border: none;
}
.content-social-bot ul li {
  position: relative;
  cursor: pointer;
}
.content-social-bot ul li svg {
  width: 24px;
  height: 24px;
}
.content-social-bot ul li span {
  display: none;
}
.content-social-bot ul li span.move {
  display: block;
  color: green;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.search-help__another-link a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  color: #808080;
  margin: 0;
}

.search-help__more-question {
  margin-top: 46px;
}

.search-help__more-question p {
  margin: 0;
  font-family: var(--font-heading-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 8px;
}

.search-help__more-question a {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #333333;
  font-family: var(--font-heading-family);
  text-underline-offset: auto;
}

.search-help__share {
  margin-top: 46px;
}

@media screen and (max-width: 768px) {
  .search-help__result {
    padding: 16px;
  }

  .search-help__result-header-inner button {
    width: 24px;
    height: 24px;
  }
}